{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

<script src="https://unpkg.com/micromodal/dist/micromodal.min.js" defer="defer"></script>

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}
  -padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}
    -padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="custom-footer">
  <div class="footer-section footer-top">
    <div class="container-full">
      <div class="footer-menu">
        <ul class="footer-menu">
          {% for link in section.settings.footer_menu.links %}
            <li>
              <a href="{{ link.url }}" id="{{ link.handle }}">
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="footer-socials">
        {%- render 'social-icons'
          , class: 'footer__list-social' -%}
      </div>
    </div>
  </div>
  <div class="footer-section footer-bottom">
    <div class="container-full">
      <div class="footer-logo">
        {%- render 'vydia-gamma-logo' -%}

    </div>
  </div>
</div></footer>

<script type="text/javascript">
  document.getElementById("newsletter").onclick = function() {
    MicroModal.show('modal-newsletter');
  };
</script>

<div class="modal micromodal-slide" id="modal-newsletter" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-newsletter-title">
        <div class="modal__header">
          <h2 class="modal__title" id="modal-newsletter-title">
            Stay in Touch & Get Exclusive Offers
          </h2>
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </div>
        <div class="modal__content_container" id="modal-newsletter-content">
          {%- form 'customer'
    , id: 'ContactFooter'
    , class: 'footer__newsletter newsletter-form' -%}
    <input
      type="hidden"
      name="contact[tags]"
      value="newsletter">
    <div class="newsletter-form__field-wrapper">
      <div class="field">
        <input
          id="NewsletterForm--{{ section.id }}"
          type="email"
          name="contact[email]"
          class="field__input"
          value="{{ form.email }}"
          aria-required="true"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          {% if form.errors %}
          autofocus
          aria-invalid="true"
          aria-describedby="ContactFooter-error"
          {% elsif form.posted_successfully? %}
          aria-describedby="ContactFooter-success"
          {% endif %}
          placeholder="{{ 'newsletter.label' | t }}"
          required>
        <label class="field__label" for="NewsletterForm--{{ section.id }}">
          {{ 'newsletter.label' | t }}
        </label>
        <button
          type="submit"
          class="newsletter-form__button field__button"
          name="commit"
          id="Subscribe"
          aria-label="{{ 'newsletter.button_label' | t }}">
          {% render 'icon-arrow' %}
        </button>
      </div>
      {%- if form.errors -%}
        <small class="newsletter-form__message form__message" id="ContactFooter-error">
          {%- render 'icon-error' -%}
          {{- form.errors.translated_fields.email | capitalize }}
          {{ form.errors.messages.email -}}
        </small>
      {%- endif -%}
    </div>
    {%- if form.posted_successfully? -%}
      <h3
        class="newsletter-form__message newsletter-form__message--success form__message"
        id="ContactFooter-success"
        tabindex="-1"
        autofocus>
        {% render 'icon-success' -%}
        {{- 'newsletter.success' | t }}
      </h3>
    {%- endif -%}
  {%- endform -%}
        </div>
      </div>
    </div>
  </div>

{% schema %}
{
  "name": "t:sections.footer.name",

  "settings": [
    {
      "type": "link_list",
      "id": "footer_menu",
      "label": "Footer Menu"
    }
  ],
  "default": {}
}{% endschema %}